.dashboard-wrapper{
    width: 100%;
    .dashboard-content{
        display: flex;
    }
    .menu-lg{
        width: 25%;
        border-right: 1px solid #d9d9d9;
        display: block;
    }
}
@media (max-width: 1024px) {
    .dashboard-wrapper{
        .dashboard-content{
        }
        .menu-lg{
            display: none;
        }
    }
}
